@import url('fonts/anka-coder.css');
@import url('fonts/orbitron.css');

* {
  font-family: "AnkaCoderRegular";
}

html, body, main, #loading {
  height: 100%;
  background-color: #010702;
  color: #FFF4F4;
}

h1 {
  font-family: "Orbitron";
}

body {
  max-width: 100%;
  width: 800px;
  margin: auto;
}

pre {
  white-space: pre-wrap;
}

a {
  color: #A3DDC9;
  font-weight: bold;
  font-family: "AnkaCoderBold";
}

/*** loader ***/

#loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading div {
  animation: spin 0.33s linear infinite;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  border: 3px solid transparent;
  border-left: 3px solid silver;
  border-right: 3px solid silver;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

