@import url('fonts/anka-coder.css');
@import url('fonts/orbitron.css');

* {
  font-family: "AnkaCoderRegular";
  box-sizing: border-box;
}

html, body, main, #loading {
  height: 100%;
  background-color: #010702;
  color: #DAD5D5;
}

h1 {
  font-family: "Orbitron";
  text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  margin: 2em 0px;
}

body {
  max-width: 100%;
  width: 800px;
  margin: auto;
  padding: 5em 1em;
}

pre {
  white-space: pre-wrap;
}

a {
  color: #fff;
  font-weight: bold;
  font-family: "AnkaCoderBold";
}

.user-ui-wrapper {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  padding: 0.25em 1em;
}

/*** loader ***/

#loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading div {
  animation: spin 0.33s linear infinite;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  border: 3px solid transparent;
  border-left: 3px solid silver;
  border-right: 3px solid silver;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

